<!DOCTYPE html>
{% load static %}
<div class="navbar-fixed">
    <nav class="grey darken-2">
      <div class="nav-wrapper">
       <div class="container">
        <a href="#!" class="brand-logo"><img src='{% static "img/MYLOGO.png" %}' alt="logo" class="responsive-img nav-logo"></a>
        <ul class="right hide-on-med-and-down">
            Web assistance demo
        </ul>
        <a href="#" data-activates="mobile-nav" class="right button-collapse show-on-med-and-down">
           <i class="fa fa-bars"></i>
        </a>
       </div>
      </div>
    </nav>
  </div>
      <ul class="side-nav grey" id="mobile-nav">
       <img src="{% static 'img/MYLOGO.png' %}" alt="">

       <p>web assistance demo</p>
      </ul>


     